*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;

}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1125px;
}

.header {
    padding: 15px;
    background-color: #62AADE;
}

.navigation__list {
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;
}

.navigation__link {
    padding: 7px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation__link:hover {
    background-color: #62DEC1;
}

/* Promo Section */

.promo {
    padding: 20px 0;
    background-color: #FFF5EE;
}

.promo__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promo__logo {
    width: 225px;
    height: 225px;
    border-radius: 100%;
}

.promo__descr {
    width: 300px;
}

.title-h1 {
    color: #62AADE;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

.divider {
    margin: 5px auto 0 auto;
    width: 50%;
    height: 3px;
    background-color: #62DEC1;
    transition: width 0.3s ease;
}

.title-h1:hover+.divider {
    width: 75%;
}

.profession {
    margin-top: 35px;
    text-align: center;
    color: #62AADE;
    text-transform: uppercase;
    font-size: 20px;
}

.promo__divider {
    margin: 15px auto 0 auto;
    width: 100%;
    height: 10px;
    background-color: #62AADE;
}

/* About Section */

.about {
    padding-bottom: 10px;
    background-color: #FFF5EE;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.title-h2 {
    color: #62DEC1;
}

.about__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    a {
        color: #62AADE;
    }
}

.about__descr {
    margin-top: 10px;
}

/* footer */

.footer {
    min-height: 47.13px;
    background-color: #62AADE;
    padding: 5px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__link-github {
    position: relative;
}

.footer__link-github::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url('../icons/free-icon-unlink-149919.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__logo-img {
    width: 100px;
    height: 37px;
}